<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Author</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to authors_path, class: button_class(theme: "transparent") do %>
      All Authors
      <% end %>
      <%= link_to edit_author_path(@author), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Authorname:</p>
        <p><%= @author.authorname %></p>
      </li>
      <li>
        <p class="font-semibold">Date of birth:</p>
        <p><%= @author.date_of_birth %></p>
      </li>
  </ul>
</div>
