<div id="<%= dom_id department %>">
  <p>
    <strong>Departmentid:</strong>
    <%= department.departmentid %>
  </p>

  <p>
    <strong>Departmentname:</strong>
    <%= department.departmentname %>
  </p>

</div>
