<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Department</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to departments_path, class: button_class(theme: "transparent") do %>
      All Departments
      <% end %>
      <%= link_to edit_department_path(@department), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Departmentid:</p>
        <p><%= @department.departmentid %></p>
      </li>
      <li>
        <p class="font-semibold">Departmentname:</p>
        <p><%= @department.departmentname %></p>
      </li>
  </ul>
</div>
